vertx:
  di:
    scope:
      thread-local:
        cleanup-checker-period: 7.2s
  event-bus:
    codec:
      kryo:
        enabled: true
        type: com.dburyak.vertx.eventbus.kryo.LocalAwareKryoUnsafeMessageCodec
        default: true
        default-types:
          - com.dburyak.vertx.test.SampleDtoOne
          - com.dburyak.vertx.test.SampleDtoTwo
      kryo-copying:
        enabled: true
        type: com.dburyak.vertx.eventbus.kryo.LocalAwareKryoCopyingMessageCodec
        default: true
        default-types: []
  gcp:
    config:
      secret-manager:
        enabled: true
        pubsub-notifications-enabled: true
        pubsub-notification-topic: gsm-updates
        secret-config-options:
          - config-option: app.test.secret-1
            secret-name: dmytro-test-secret-1
            project-id: kuznya-d
          - config-option: app.test.secret-1-dup
            secret-name: dmytro-test-secret-1
          - config-option: app.test.secret-2
            secret-name: dmytro-test-secret-2
            project-id: kuznya-d
          - config-option: app.test.secret-3
            secret-name: dmytro-test-secret-3
            project-id: kuznya-p
